@{
    ViewData["Title"] = "Acerca De";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<pre>El objetivo actual de esta aplicación de pruebas es realizar un CRUD de inventario
     Donde una vez que se registraron datos en los catalogos. 
     Mostrar en la vista principal un resumen de todo.
     Con un buscador que pueda encontrar coincidencias basadas en cualquier campo.
     El combo de categoria y subcategoria. Adicionalmente agregare el de producto.
     Todo con ordenamiento de A -Z , Paginación.
     Tambien una opcion para Importar registros de inventario con una plantila de excel.
     La plantilla debe tener numero de version para identificar los campos a insertar.
     Adicionalmente implementarlo en todos los catalogos y en una plantilla que inserte registros del proceso completo.

</pre>
