@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vista a la luna 988<br />
    Vista Hermosa Zapopan Jalisco<br />
    <abbr title="Phone">Celular:</abbr>
    33-16-90-19-69
</address>

<address>
    <strong>Soporte:</strong> <a href="marcos92robles@gmail.com">marcos92robles@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="marcos92robles@gmail.com">marcos92robles@gmail.com</a>
</address>
